<h1>
    <form>
    	<textarea name="wordList" style="margin: 0px; height: 300; width: 300;"></textarea>
    	<button type="submit">Submit</button>
    </form>
    <h3>Result</h3>
    <textarea style="margin: 0px; width: 991px; height: 166px;">
    	{{ .title }}
    </textarea>
</h1>